# <center> Tintanic

In [54]:
import pandas as pd 
import numpy as np

In [55]:
df = pd.read_csv("/Users/xuanthingo/Documents/3.Software/Titanic/Data/titanic.csv")
df.columns

Index(['Survived', 'Pclass', 'Name', 'Sex', 'Age', 'Siblings/Spouses Aboard',
       'Parents/Children Aboard', 'Fare'],
      dtype='object')

### Convert Data

From the first part of this assignment we can see that there is no missing values in this data. Thus, we can go ahead and split them.

In [97]:
from sklearn.preprocessing import StandardScaler, MinMaxScaler


#Categorical variables: Pclass, Sex
dummy_vars = pd.get_dummies(df, columns = ['Pclass', 'Sex'])

#Scale numerical values: Age, Fare
scaler = MinMaxScaler()
dummy_vars['Age_nor'] = scaler.fit_transform(dummy_vars[['Age']])
dummy_vars['Fare_nor'] =  scaler.fit_transform(dummy_vars[['Fare']])

#Combine new df
df_new = dummy_vars[["Pclass_2", "Pclass_3" , "Sex_female", "Sex_male",  "Age_nor",  "Fare_nor", 
                     'Siblings/Spouses Aboard', 'Parents/Children Aboard', "Survived"]]
df_new

,Pclass_2,Pclass_3,Sex_female,Sex_male,Age_nor,Fare_nor,Siblings/Spouses Aboard,Parents/Children Aboard,Survived
0,0,1,0,1,0.271174,0.014151,1,0,0
1,0,0,1,0,0.472229,0.139136,1,0,1
2,0,1,1,0,0.321438,0.015469,0,0,1
3,0,0,1,0,0.434531,0.103644,1,0,1
4,0,1,0,1,0.434531,0.015713,0,0,0
...,...,...,...,...,...,...,...,...,...
882,1,0,0,1,0.334004,0.025374,0,0,0
883,0,0,1,0,0.233476,0.058556,0,0,1
884,0,1,1,0,0.082684,0.045771,1,2,0
885,0,0,0,1,0.321438,0.058556,0,0,1
886,0,1,0,1,0.396833,0.015127,0,0,0

### Plit data

In [98]:
from sklearn.model_selection import train_test_split

In [99]:
df_train, df_test = train_test_split(df_new, test_size=0.30, random_state=42)

In [100]:
X_train = df_train.drop('Survived', axis = 1)
y_train = df_train.Survived
X_test = df_test.drop('Survived', axis = 1)
y_test = df_test.Survived

### Models

In [101]:
from sklearn.model_selection import cross_val_score
from sklearn.tree import DecisionTreeClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB

In [102]:
#checking with 4 different models 
models = [DecisionTreeClassifier(), LogisticRegression(),  KNeighborsClassifier(), GaussianNB() ]

#store results in a table
model_table = pd.DataFrame()

for model in models:
    name = model
    mean_cross_acc = np.mean(cross_val_score(model, X_train, y_train, cv=10)) #use Cross Validation to have better result
    model_table = model_table.append({ "mean_accuracy":mean_cross_acc, "model": name,}, ignore_index=True)
    
model_table = model_table.sort_values(by="mean_accuracy", ascending = False )    
model_table

   mean_accuracy                     model
1       0.816129      LogisticRegression()
2       0.808065    KNeighborsClassifier()
3       0.806452              GaussianNB()
0       0.803226  DecisionTreeClassifier()